/**
* Красота спасёт мир (но это не точно)
**/

$custom-control-gutter:          0.75rem !default;
$modal-header-padding-y:            0.75rem !default;
$modal-header-padding-x:            0.75rem !default;

$small-font-size:             90% !default;

@import '~bootstrap/scss/bootstrap.scss';

$roboto-condensed: "Roboto-Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$ts-nice-main-mt: 62px;

html, body {
  // min-height: 100vh;
}

body {
  display: -ms-flexbox !important;
  display: flex !important;
  // min-height: 100vh;

  -ms-flex-direction: column !important;
  flex-direction: column !important;

  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ts-nice-navbar {
  font-family: $roboto-condensed;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ts-nice-header {
  font-family: $roboto-condensed;
}

.ts-nice-main {
  margin-top: $ts-nice-main-mt;
}

.ts-nice-footer {
  background-color: #fafafa;
  border-top: 1px solid #e7e7e7;
}

.ts-nice-form-label {
  text-align: left !important;
}

@media (min-width: 576px) {
  .ts-nice-form-label {
    text-align: right !important;
  }
}

.card-title {
  margin-bottom: 0 !important;
  font-family: $roboto-condensed;
}

.modal-title {
  font-family: $roboto-condensed;
}

.col-form-label {
  font-size: 13px;
}

.cool-badge {
  font-size: 100%;
  font-family: $roboto-condensed;
  font-weight: 400;
}

.smaller {
  font-size: $small-font-size !important;
}

.link-like {
  color: $link-color;
}

.text-grayed {
  color: #7d868e !important;
}

.secondary-light {
  background-color: #acbac6 !important;
  border-color: #838e98 !important;
}

.flag-placeholder {
  padding-top: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 1px;
  background-color: rgba(133, 144, 154, 0.5) !important;
  border-color: #838e98 !important;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.link-button:hover,
.link-button:focus {
  text-decoration: underline;
}

.wide-modal {
  min-width: 90% !important;
}

.medium-wide-modal {
  min-width: 70% !important;
}

.rounded-top-only {
  border-radius: 0.25rem 0.25rem 0 0;
}

.object-id {
  /*cursor: pointer;*/
  font-family: monospace;
  background-color: #d7f7ff;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid $link-color;
}
